<div class="container">

  <%= render 'navbar', locals: {active_nav: 'index'} %>

  <div class="jumbotron">
    <h1>How hard should you run today?</h1>
  </div>

  <div class="row marketing">
    <div class="col-md-12">
      <div id="calc_pace">
        <%= form_tag('/target_pace/calc', method: :get) do %>
          <%= hidden_field_tag(:activated_toggles, '') %>
          <div class="form-group">
            <%= label_tag(:five_k_time, 'I can run a 5K in:') %>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-heart-empty"></span></span>
              <%= text_field_tag(:five_k_time, '', {:class => 'form-control', :placeholder => 'Your most recent 5K race time; example, 21:30'}) %>
            </div>
            <div class="text-muted">Your finishing time for a recent race is an excellent indicator of your VO2 Max and overall fitness. This helps us prescribe the right paces for your unique body.</div>
          </div>
          <div class="form-group">
            <%= label_tag(:run_type, 'Today, I plan on running:') %>
            <div class="input-group">
              <span class="input-group-addon">&#x1F3C3;</span>
              <%= select_tag(:run_type, options_for_select(TargetPaceHelper::all_run_types, :DistanceRun), {:class => 'form-control'}) %>
            </div>
            <div class="text-muted" id="run_type_explanation">What exciting adventure will your run lead you on today?</div>
          </div>
          <div class="form-group text-center">
            <%= submit_tag('Get my pace', {:class => 'btn btn-primary btn-lg'}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>

<%= render 'footer' %>

<script src="<%= javascript_path 'myscript' %>"></script>

<script>
  <%= render 'index.js' %>
</script>